@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyPickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDayOfService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDayOfService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraOneTimePickUpButton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraOneTimePickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.WeeklyPickUpDay)
            </td>
            <td>
                @Html.DisplayFor(model => model.StartDayOfService)
            </td>
            <td>
                @Html.DisplayFor(model => model.EndDayOfService)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExtraOneTimePickUpButton)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExtraOneTimePickUp)
            </td>
            <td>
                @Html.DisplayFor(model => model.Balance)
            </td>
            <td>
                @Html.DisplayFor(model=> model.IdentityUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
